<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileSystemWatcherComponent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileSystemWatcherComponent.Properties.Settings>
            <setting name="path" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>\\salin\APPS\BRASIL</string>
                        <string>juan</string>
                        <string>pedro</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="file" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.apk</string>
                        <string>*.ipa</string>
                        <string>*.zip</string>
                        <string>*.txt</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FileSystemWatcherComponent.Properties.Settings>
    </userSettings>
</configuration>